<nav class="p-2 h-full">
    <div class="flex gap-1 items-end">
        <img src="/user.png" alt="Logo" class="w-10 h-10 rounded-full bg-gray-100 p-1 shadow border-2 border-[#ccc]">
        <p class="text-xl text-black px-1">{{authService.user?.firstName}}</p>
    </div>
    <div class="border border-[#ccc] my-3"></div>
    <div class="p-2 flex flex-col justify-between h-[87%]">
        <div class="flex flex-col gap-2">
            <a routerLink="/" (click)="drawerToggleFunction()" routerLinkActive="bg-gray-200 text-black" [routerLinkActiveOptions]="{exact:true}" class="p-2 rounded cursor-pointer flex gap-3 items-center hover:bg-gray-200 hover:text-black">
                <i class="fa-solid fa-indian-rupee-sign"></i>
                Estimation
            </a>
        
            <a routerLink="history" (click)="drawerToggleFunction()"  routerLinkActive="bg-gray-200 text-black" [routerLinkActiveOptions]="{exact:true}" class="flex gap-3 items-center p-2 rounded cursor-pointer hover:bg-gray-200  hover:text-black ">
                <i class="fa-solid fa-history"></i>
                History
            </a>
            <a routerLink="about"  (click)="drawerToggleFunction()"  routerLinkActive="bg-gray-200 text-black" [routerLinkActiveOptions]="{exact:true}" class="flex gap-3 items-center p-2 rounded cursor-pointer hover:bg-gray-200  hover:text-black ">
                <i class="fa-solid fa-circle-info"></i>
                About
            </a>
        </div>
        <a (click)="handleLogout()"  routerLinkActive="active" class="flex gap-3 items-center p-2 rounded cursor-pointer hover:bg-gray-200  hover:text-black ">
            <i class="fa-solid fa-sign-out-alt"></i>
            Logout
        </a>
    </div>  
</nav>