<div class="w-full h-full">
    <div class="h-3/5">
        <app-map (distance)="handleCalculateFare($event)"></app-map>
    </div>
    <div class="flex flex-col gap-4 bg-sky-700 h-2/5">
        <div class="flex flex-col rounded-md bg-white mx-4 mt-2 shadow-xl"  [ngClass]="{'opacity-90':loader}">
            <div class="flex w-full">
                <div class="p-2">
                    <i class="fa-solid fa-location-crosshairs"></i>
                </div>
                <app-mapple-search placeholder="Pickup Location" [source]="true"></app-mapple-search>
            </div>
            <div *ngIf="loader" class="flex justify-center items-center">
                <div class="absolute z-10">
                    <mat-spinner [diameter]="30"></mat-spinner>
                </div>
            </div>
            <div class="w-full h-px bg-gray-300"></div>
            <div class="flex grow">
                <div class="p-2">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <app-mapple-search placeholder="Dropoff Location"></app-mapple-search>
            </div>
        </div>
        <div class="h-[70%] overflow-y-auto flex flex-col px-4 py-2 gap-3" *ngIf="fareDetails !== null && quickRide && EconomyRide">
            <div class="flex gap-4 items-center">
                <div class="p-2 bg-sky-900 shadow-md rounded-xl h-10 w-10  flex justify-center items-center  border-sky-950  ">
                    <i class="fa-solid fa-bolt text-white fa-lg"></i>
                </div>    
                <div>
                    <p class="text-white text-md">Quickest Ride</p>
                    <p class="text-white ">{{quickRide.vehicleType}}</p>
                </div>
                <p class="text-white text-md ml-auto">{{quickRide.eta | timeFormat}}</p>
            </div>
            <div class="flex gap-4 items-center">
                <div class="p-2 bg-sky-900 shadow-md rounded-xl h-10 w-10  flex justify-center items-center  border-sky-950  ">
                    <i class="fa-solid fa-wallet text-white fa-lg"></i>
                </div>    
                <div>
                    <p class="text-white text-md">Econimical Ride</p>
                    <p class="text-white ">{{EconomyRide.vehicleType}}</p>
                </div>
                <p class="text-white text-md ml-auto">
                    <i class="fa-solid fa-indian-rupee-sign"></i> {{quickRide.totalFare}}
                </p>
            </div>
            <div class="flex gap-4 items-center cursor-pointer" (click)="handleCompareAll()">
                <div class="p-2 bg-sky-900 shadow-md rounded-xl h-10 w-10  flex justify-center items-center  border-sky-950  ">
                    <i class="fa-solid fa-list text-white fa-lg"></i>
                </div>    
                <div class="flex items-center">
                    <p class="text-white text-md">Compare All</p>
                </div>
            </div>
            
        </div>
    </div>

</div>